uploads
node_modules
heatmaps
x-rays-models/models
__pycache__
x-rays-models/static
.env
AI-X-RAY-Detection-System/public/videos/
AI-X-RAY-Detection-System/public/uploads/
AI-X-RAY-Detection-System/public/images/